<%
const pageData = {
  title: 'ランディングページ05',
  keywords: 'キーワード01,キーワード02,キーワード03,キーワード04,キーワード05',
  description: 'ページの概要が入ります。',
  root: '',
  path: 'works/lp-05/',
  addHeadLinks: [],
  addHeadScripts: [],
  addFootScripts: [],
};
-%>
<%- include(pageData.root + './_module/layout/layout-head', {pageData, commonData}); -%>

<main>
  <%- include(pageData.root + './_module/section/hero'); -%>
  <div class="hero__content" id="js-hero-content">
    <%- include(pageData.root + './_module/section/about'); -%>
    <%- include(pageData.root + './_module/section/feature'); -%>
  </div>
  <%- include(pageData.root + './_module/section/gallery'); -%>
  <%- include(pageData.root + './_module/section/lecture'); -%>
</main>

<%- include(pageData.root + './_module/layout/layout-foot', {pageData, commonData}); -%>
